@media screen and (min-width:768px) and (max-width:1100px) {
    #hero_box{
        grid-template-columns: 1fr .5fr 1fr;
    }
    .title h1{
        font-size: 2rem;
    }
    .title p{
        font-size: 1rem;
    }
    nav{
        font-size: 1rem;
    }
    .breifInfo p{
        font-size:.75rem;
        margin-top: 0;
    }
    .breifInfo a{
        font-size: .75rem;
        margin:0 auto;
    }
    #hero_box .reservation_box h2 {
        font-size: 1rem;
    }
    #rentalTitle{
        font-size: .75rem;
    }
    .scooters h4, .scooters p{
        font-size: 1rem;
    }
    .atvs h4, .atvs p {
        font-size: 1rem;
    }
    .jeeps h4, .jeeps p{
        font-size: 1rem;
    }
    #weather{
        padding:5px;
        margin:auto
    }
    .todays_weather, .nextday{
        padding:0px;
    }
    #hightemp_banner{
        padding:0;
        font-size: .75rem;
        padding-top:10px;
    }
    /* styles for pages 3,4, & 5*/
    header h1{
        font-size: 2rem;
    }
    

    /* style for rentals page */
    .rentalsPage{
        display:flex;
        flex-direction: column;
    }
    #womanScooter{
        display: none;
    }
    /* style for reservation page */
    .reservationPage #calendar {
        border-collapse: collapse; 
    }
    
    .reservationPage #calendar th, #calendar td {
        padding: 5px; 
        font-size: 1rem; 
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"]{
        width: 150px;
        font-size: 0.8em;
    }
    textarea{
        width:100%
    }

}