@media screen and (min-width:768px) and (max-width:1100px) {
    #hero_box{
        grid-template-columns: 1fr .5fr 1fr;
    }
    .title h1{
        font-size: 3rem;
    }
    .title p{
        font-size: 1.5rem;
    }
    nav{
        font-size: 1.5rem;
    }
    nav a:hover{
        padding-right:2%;
        padding-left:2%;
    }
    .breifInfo p{
        font-size:1rem;
        margin-top: 0;
    }
    .breifInfo a{
        font-size: 1rem;
        margin:0 auto;
    }
    .breifInfo .locations{
        font-size: 1rem;
    }
    #hero_box .reservation_box h2 {
        font-size: 1rem;
    }
    #rentalTitle{
        font-size: 1.5rem;
    }
    .jeeps h4, .scooters h4,.atvs h4 {
        font-size: 1.25rem;
    }
    .scooters p, .atvs p, .jeeps p {
        font-size: 1rem;
    }
    #weather{
        padding:5px;
        margin:auto
    }
    .todays_weather, .nextday{
        padding:0px;
        font-size: 1rem;
    }
    #hightemp_banner{
        padding:0;
        font-size: 1rem;
        padding-top:10px;
    }
    footer{
        font-size: 1rem;
    }
    /* styles for pages 3,4, & 5*/
    header h1{
        font-size: 3rem;
    }
    header .other_nav a{
        font-size: 1.25rem;
    }
    

    /* style for rentals page */
    .rentalsPage{
        display:flex;
        flex-direction: column;
    }
    .rentalsPage h2{
        font-size: 2rem;
    }
    .rentalTerms{
        font-size: 1.5rem;
    }
    #womanScooter{
        display: none;
    }
    /* style for reservation page */
    .reservationTitle{
        font-size: 2rem;
    }
    #prevMonth, #nextMonth{
        font-size: 1rem;
    }
    .reservationPage #calendar {
        border-collapse: collapse; 
    }
    #calendarMonth{
        font-size: 1.5rem;
    }
    .reservationPage #calendar th, #calendar td {
        padding: 5px; 
        font-size: 1rem; 
    }
    form{
        font-size: 1rem;
    }
    input[type="text"],
    input[type="number"],
    input[type="email"],
    input[type="password"]{
        width: 150px;
        font-size: 0.8em;
    }
    textarea{
        width:100%
    }
    #threeatvs{
        max-width:80%;
        margin-top:0;
    }
    /* style for thankyou page */
    .thankyouPage h1{
        font-size: 2rem;
    }
    .thankyouPage h4{
        font-size: 1.5rem;
    }
    .thankyouPage p{
        font-size: 1rem;
    }
    /* Style for contact page */
    .essentialContactinfo p{
        font-size: 1rem;
    }
    .operatinghours ul{
        font-size: 1rem;
        list-style-type: none;
    }
    .locationboxs{
        display:flex;
        flex-direction: column;
    }
    .locations{
        margin:1% 10%
    }
    .locations p{
        font-size: 1.5rem;
    }
    iframe{
        padding-top:2%;
        max-width: 80%;
        height: 100%;
    }
    .bottomcontact{
        display:flex;
        flex-direction: column;
        margin:auto;
    }
    .contactForm form{
        border-radius: 0;
    }
    .contactForm input[type="text"],
    .contactForm input[type="number"],
    .contactForm input[type="email"],
    .contactForm input[type="password"]{
        font-size: 1rem;
        padding:5px;
        width: 100%;
    }
    #submit {
        display: flex;
        justify-content: center;
    }

}