@media screen and (max-width: 767px) {
#hero_box{
    display: block;
}
#menu{
    display:inline-block;
    background-color: antiquewhite;
}
#menu::before {
    content:"☰";
}
#menu.open::before{
    content: "❌";
}
.open a{
    display: block;
}
#navigation {
    display: none; 
}
#navigation.open {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    font-family: Roboto;
}
#heroimg{
    top:0;
    max-width: 100%;
}
.title{
    margin-top: 20%;
}
.title h1{
    font-size: 1.5rem;
}
.title p{
    font-size: 1rem;
}
.social img {
    max-width: 15px;
}
.breifInfo p, .breifInfo a{
    font-size: .8rem;
}
.reservation_box{
    margin:auto;
    padding:3%;
    padding-bottom:10%
}
.reservation_box h2{
    font-size: 1.2rem;
}
#rentalTitle h2{
    font-size: 1.2rem;
}
#rentalTitle h3{
    font-size: 1rem;
}
#rental_types{
    margin-top: 0%;
}
.scooters, .atvs, .jeeps{
    display:flex;
    flex-direction: column;
}
.scooters img, .atvs img, .jeeps img{
    max-width:90%;
    height: auto;
    margin: auto;
    padding:5%
}
.scooters h4,.scooters p,.atvs h4,.atvs p, .jeeps h4, .jeeps p{
    font-size: .8rem;
    padding:1%;
}
.todays_weather, .nextday{
    padding:1%;
    font-size:.8rem;
}
#hightemp_banner{
    width:90%;
    padding:1%;
    font-size: .5rem;
    background-color: rgba(241,124,52,.4);
}
/* styles for pages 3,4, & 5*/
header h1{
    font-size: 1.5rem;
    top:3%;
}
.menu_other{
    position: absolute;
    top: 15%;
    left:50%;
    transform: translate(-50%, -50%);
}
/*style for page 2 */
.rentalsPage{
    display:flex;
    flex-direction: column;
}
.rentalsPage h2{
    font-size: 1rem;
}
#womanScooter{
    display: none;
}
th, td {
    padding: 3px;
    font-size:1rem;
}

/* style for reservation page */
.reservationPage{
    display:flex;
    flex-direction: column;
}
.reservationTitle{
    font-size: 1rem;
    padding-top:10%;
}
.calendar{
    font-size: .75rem;
}
input[type="startdate"],
input[type="enddate"],
input[type="text"],
input[type="number"],
input[type="email"]{
    width: 150px;
    font-size: 0.75em;
    padding:5px auto;
}
textarea{
    width:100%;
    margin:5px auto;
}
#clearDates{
    margin:5px;
}
#submit-button-container {
    display: flex;
    justify-content: center;
}

}