*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body {
	font-family: Roboto, helvetica, sans-serif;
    margin:1rem;
}

header,
main,
footer {
	max-width: 760px;
	margin: 0 auto;
}
section{
    padding:1rem;
}

div.banner {
	padding: 1rem;
	background-color: #eee;
    text-align: center;
}

h1 {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

main {
	display: grid;
    grid-template-columns: 1fr, 200px;
}

h2 {
	color: navy;
	text-align: left;
    grid-column: 1/3;
}

article p {
	text-align: justify;
}

.callout {
	color: #424242;
	background-color: #ffccf6;
    padding: 5px;
}

footer {
	margin-top: 1rem;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	font-size: smaller;
	text-align: left;
}

article{
    grid: column 1/2;
    padding-bottom: 3rem;
}

