main{
display: grid;
font-family: Roboto;
grid-template-columns: 1fr ;
column-gap: 1rem;
}

header, main, footer{
max-width: 640px;
margin:1rem auto;
border: 1px solid rgb(196, 216, 216);
padding: 1rem;
background-color: rgb(211, 237, 238);
}

section{
    padding:1rem;
    background-color: white;
}
