*{
box-sizing: border-box;
}

main{
display: grid;
grid-template-columns: auto;
background-color:#fefae0;
justify-content: center;
font-family:Georgia, 'Times New Roman', Times, serif;
}

header{
display: flex;
background-color:#a8dadc;
justify-content: center;
align-content: center;
height: 10rem;
}

#terral{
border-radius: 200px;
padding:1%;
}

h1{
font-family:Georgia, 'Times New Roman', Times, serif;
padding-top: 5%;
}

nav{
display: grid;
justify-content: center;
background-color:#1d3557;
text-align: center;
}

nav :hover{
background-color: #dda15e;
margin-left:-10%;
margin-right:-10%;
color:#1d3557;
/* padding-left: 10%;  */
text-align: center;
}

nav a{
color:#fefae0;
text-decoration: none;
padding-top:1%;
padding-bottom: 1%;
font-size: 1.5em;
font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card{
display: grid;
box-shadow:5px 5px 10px #6f7364;
border: 2px solid #e9edc9;
padding: 2%;
/* margin-top:2%;
margin-bottom:2%; */
margin: 2%
}
.card div{
    text-align: center;
}

section h3{
background-color:#ade8f4 ;
margin-top: -2%;
margin-left: -2%;
margin-right: -2.5%;
padding: 2%;
text-align: center;
}

ul{
list-style: none;
}

footer{
display: grid;
justify-content: center;
background-color:#ade8f4;
}

footer p{
text-align: center;
line-height: 1.5;
}

footer img{
width: 30%;
}

.map{
    justify-self: center;
    align-self: center;
    width:95%;
}

h2::before{
    content: "💻";
}

h2 {
    padding-top: 1rem;
    border-bottom: 1px solid black;
    /* border: 2px solid black; */
}